@model IEnumerable<BookDTO>


<div class="text-center text-light">
    <div class="display-6">Books</div>
    <div class="d-flex justify-content-end my-1">
        <a class="btn btn-outline-success text-light" asp-action="Create">
            <i class="fa fa-plus"></i> Create
        </a>
    </div>
</div>

<table class="table table-striped table-hover table-dark">
    <thead>
        <tr>
            <th>Id</th>
            <th>Image Url</th>
            <th>Book Name</th>
            <th>Status</th>
            <th>Operations Name</th>
            <th>Created Date</th>
        </tr>
    </thead>
    <tbody> 
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BookId</td>
                <td><img src="~/images/book/@item.Img" alt="@item.Title" width="80" class="rounded shadow"></td>
                <td>@item.Title</td>
                <td>@item.Status</td>

                <td>
                    <div class="btn-group">
                        <a asp-action="Update" asp-route-id="@item.BookId" class="btn btn-warning text-white">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                        <a asp-area="" target="_blank" asp-controller="Book" asp-action="Index" asp-route-id="@item.BookId" class="btn btn-info text-white">
                            <i class="fa fa-search"></i> web
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.BookId" class="btn btn-danger">
                            <i class="fa fa-trash"></i> Delete
                        </a>
                    </div>
                </td>
                <td>@item.CreatedDate</td>
            </tr>

        }
    </tbody>
</table>